@font-face {
    font-family: 'Space Grotesk';
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: rgba(123, 321, 223, 0.5);

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

code {
    font-family: 'Ubuntu', 'Space', 'Space Grotesk', 'SansSerif', 'Tahoma',
    monospace;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 220%;
    overflow-x: hidden;
}

.title {
    font-size: 2.5rem;
}
.title span {
    text-shadow: 2px 253px 5px lightcoral;
}

.btnGroup {
    margin-top: .25rem;
    box-shadow: 1px 1px 3px 3px black;
}

.btnGroup > button {
    padding: .75rem;
    cursor: pointer;
}

.btnGroup > button {
    padding: .75rem;
    cursor: pointer;
}

.btnGroup button:hover {
    background-color: #a47cec;
    box-shadow: 2px 3px 3px #201c29;
    transition: .5s;
}

.displayWrapper {
    margin: 1rem 0;
    padding: 1.5rem;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 20px;
}

.wait {
    animation: show 3s ease-in-out 3;
    margin-top: 1rem;
    min-height: 30px;
    font-size: 1.25rem;
    color: rgba(255, 0, 0, 0.548);
}

@keyframes show {
    0% {
        margin-left: 500px;
        opacity: 0;
        
    }
    100% {
        margin-left: 0px;
    }
}